body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-m-120 {
  margin-top: -120px;
}
.w-400 {
  width: 400px;
}

.w-310 {
  width: 310px;
  min-width: 310px;
}
.w-1010 {
  max-width: 1010px;
  width: 1010px;
}

.w-165 {
  width: 165px;
}

.main-wraper {
  font-family: 'Baloo 2', cursive;
  background-color: #edf4ff;
}

*{
  font-family: 'Baloo 2', cursive;
}

.chats-height {
  min-height: calc(100vh - 4.25rem);
  height: calc(100vh - 4.25rem);
}

.messages-height {
  min-height: calc(100vh - 12rem);
  height: calc(100vh - 12rem);
}

.w-530 {
  width: 530px;
}

.w-524 {
  width: 524px;
}

.h-135 {
  min-height: 135px;
  height: 135px;
}

.emoji-picker {
  top: -426px;
  right: 13px;
}

.select-avatar {
  right: 5px;
}

.set-username {
  color: #2d3748;
  cursor: pointer;
}

.set-username:hover {
  color: #2b6cb0;
}